.destacados {
    h3 {
      font-weight: bold;
    }
  
    .card {
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.03);
      }
    }
  
    .card-img-top {
      height: 200px;
      object-fit: cover;
    }
  }