// scss/partials/_footer.scss
footer {
    position: static;
    background-color: $color-fondo-footer;
    padding: 2rem;
    text-align: center;
  
    p {
      font-family: $fuente-base;
      @extend %titulo-footer;
    }
  
    .social-links {
      @include centrado-flex;
      gap: 1rem;
  
      img {
        width: 24px;
        transition: transform 0.3s;
  
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  