$color-fondo-footer: #f7f7f7;
$color-texto-footer: #f76c6c;
$fuente-base: 'Segoe UI', sans-serif;

$color-fondo-header: #333;
$color-texto-header: #fff;
$padding-header: 1rem;

$gris-claro: #f5f5f5;
$blanco: #ffffff;
$gris-oscuro: #333333;
$gris: #666666;